
// -------- Style du Header -------------- //

.logo_icone {
    width: 100%;
    max-width: 200px;
    display: block;
}

.dev_style {
    font-family: 'Honey Script', sans-serif;
    font-size: 2rem;
    color: $bleu;
}

a.text-midium-metal-upper {
    @include Rob-regular-upper;
    font-size: 0.9rem;
    color: #a8a8a8;
    text-decoration: none;

    &:hover{
        color: $metal;
    }
}

.user_elements {
    height: 50px;
}

.counter {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%,-50%);
    @include Rob-bold;
    font-size: 0.9rem;
    color: $bleu;
}

.panier_mobile {
    width: 25px;
}

// -------- Navigation du Header -------------- //

nav.bg-ocean{
    background-color: $ocean;
    border-bottom: 2px solid $ciel;
    
    .text-ciel {
        @include Rob-medium-upper;
        color: $blanc!important;
    }

    .light-text{
        @include Rob-light;
        color: $ciel!important;
    }

    .text-navbar {
        @include Rob-regular-upper;
        font-size: 0.9rem!important;

        .nav-link{
            color: $blanc;

            &.active {
                background-color: $bleu;
                color: $blanc;
            }

        }
        
        .nav-link:hover {
            background-color: $bleu;
            color: $blanc;
        }

        .promo{
            color: $ciel;

            &:hover{
                color: $blanc;
            }
        }
    }

    .gr_sociaux {
        max-height: 40px;
    }
}