// -------- Mes Imports -------------- //

@import "imports/variables.scss";
@import "imports/mixins.scss";
@import "imports/fonts.scss";

// -------- Le CSS du site ----------- //

* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: $blanc;

    // ---- Import style HEADER ---- //
    @import "imports/header.scss";

    // ---- Import style HEADER ---- //
    @import "imports/slide.scss";
}