// -------- Mes Imports -------------- //

@import "imports/variables.scss";
@import "imports/mixins.scss";
@import "imports/fonts.scss";

// -------- Le CSS du site ----------- //

* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: $blanc;

    // ---- BTN général ---- //
    a.btn-decouvrir{
        background: linear-gradient(to right,  $bleu 50%, $ocean 50%); 
        background-size: 200% 100%; 
        background-position:left bottom; 
        transition:all 200ms linear;
        font-size: 0.9rem;
        color: $blanc;
        @include Rob-light-upper;
        text-decoration: none;
        display: inline-block;

        &:hover{
            background-position:right bottom; 
        }
    }

    // ---- Import style HEADER ---- //
    @import "imports/header.scss";

    // ---- Import style HEADER ---- //
    @import "imports/slide.scss";

    // ---- Slogan baseline ---- //
    @import "imports/slogan.scss";
    


}